@use '_mixins' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond('tab-land') {
    font-size: 56.25%;
  }

  @include respond('tab-port') {
    font-size: 50%;
  }

  @include respond('big-desk') {
    font-size: 75%;
  }
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-body-normal);
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--col-neutral-dark);

  @include respond('phone') {
    font-size: 2rem;
  }
}
