:root {
  --col-primary: hsl(322, 100%, 66%);
  --col-primary-light: hsl(321, 100%, 78%);
  --col-primary-dark: hsl(0, 100%, 63%);

  --col-neutral-dark: hsl(192, 100%, 9%);
  --col-neutral-light: hsl(207, 100%, 98%);

  --shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 5px 15px 8px rgba(0, 0, 0, 0.15);
  --shadow-3: 0 5px 15px 5px rgba(0, 0, 0, 0.175);
}
