@use '_mixins' as *;

//====================//
//====== HEADER ======//
//====================//
.header {
  padding: 6.2rem 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 3.6rem;
  }
}

//===================//
//====== HERO =======//
//===================//
.hero {
  padding: 6.2rem 0;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 6.2rem;
  }

  &__illustration {
    width: 100%;
  }
}

//===================//
//====== STATS ======//
//===================//
.stats {
  padding: 6.2rem 0;
  display: flex;
  justify-content: space-evenly;

  @include respond('phone') {
    flex-direction: column;
    align-items: center;
    gap: 6.2rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    height: 3rem;
  }

  &__data {
    font-size: 7.4rem;
    letter-spacing: -2px;
    font-weight: var(--fw-body-heavy);
  }

  &__label {
    color: var(--col-neutral-dark);
    opacity: 0.5;
    align-self: center;
    font-size: 2rem;
  }
}

//====================//
//===== FEATURES =====//
//====================//
.features {
  &__feature {
    padding: 12.8rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 6.2rem;
    width: 114rem;
    max-width: 90%;
    margin: 0 auto;

    @include respond('phone') {
      grid-template-columns: 1fr;
      row-gap: 6.2rem;
    }
  }

  &__feature:nth-child(even) &__box--illustration {
    order: -1;
  }

  &__wavy-container {
    position: relative;

    &:nth-child(odd) {
      padding: 6.2rem 0;
      background-color: var(--col-neutral-light);
    }
  }

  &__illustration {
    width: 100%;
  }

  &__box {
    display: flex;
    flex-direction: column;

    @include respond('phone') {
      gap: 3rem;
    }
  }
}

//====================//
//======= CTA ========//
//====================//
.cta {
  padding: 6.2rem 0;
  text-align: center;
}

//====================//
//====== FOOTER ======//
//====================//
.footer {
  position: relative;
  padding: 12.4rem 0 6.2rem 0;
  background-color: var(--col-neutral-dark);
  color: var(--col-neutral-light);

  .container {
    margin-top: 12.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;

    @include respond('phone') {
      grid-template-columns: 1fr;
      row-gap: 12.4rem;
    }
  }

  .newsletter {
    @include respond('phone') {
      order: -1;
    }
  }
}

//====================//
//====== ABOUT ======//
//====================//
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;

  &__logo {
    height: 3.6rem;
  }

  &__text {
    max-width: 40ch;
  }

  &__phone,
  &__email {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  &__socials {
    margin-top: 4.4rem;
    display: flex;
    gap: 1.6rem;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;

  &__text {
    max-width: 43ch;
  }

  &__form-box {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.8rem;

    @include respond('phone') {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__email {
    padding: 1.2rem 1.6rem;
    font-family: inherit;
    border-radius: 5px;
    margin-right: 2rem;
    width: 43ch;
    border: none;

    @include respond('phone') {
      width: 100%;
      margin-right: 0;
    }

    &:focus-visible {
      outline-color: var(--col-primary);
      outline-width: 1px;
    }
  }
}

.attribution {
  margin-top: 6.2rem;
}

// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

//===================//
//===== BUTTONS =====//
//===================//

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 4rem;
  background-color: var(--col-primary);
  color: var(--col-neutral-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s ease-out;

  &:hover {
    filter: brightness(1.1);
  }

  &--cta {
    &:link,
    &:visited {
      transition: all 0.3s ease-out;
      border-radius: 100px;
      padding: 1.8rem 8.6rem;
      color: var(--col-neutral-light);
      background-color: var(--col-primary);
      font-size: 1.8rem;
      box-shadow: var(--shadow);
    }

    &:hover {
      box-shadow: var(--shadow-2);
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: var(--shadow-3);
      transform: translateY(-1px);
    }
  }

  &--nav {
    &:link,
    &:visited {
      padding: 1rem 3.6rem;
      border-radius: 100px;
      color: var(--col-primary);
      background-color: transparent;
      border: 1px solid var(--col-primary);
      font-size: 1.6rem;
    }

    &:hover,
    &:active {
      color: var(--col-neutral-light);
      background-color: var(--col-primary);
    }
  }
}
